<!DOCTYPE html>
<html>
  <head>
    <title>课设DEMO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/font-awesome.css" media="all">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" media="all">
  </head>
  <body>
      <div id="app">
          <app-header></app-header>
          <app-main></app-main>
      </div>
      <script src="/javascripts/build.js"></script>
  </body>
</html>
